body {
    background-color: #e6f5f6;
  
  }
  table {
    text-align: center;
    align-content: center;
    width: 33%;
    margin: auto;
    margin-top: 33%;
    
    
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    align-content: space-evenly;
  }
  .middle-grid{
    grid-row: 3;
    grid-column: 2;
  }
  
  td{
    width: 50%;
   
  }
  